<?xml version = "1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         verbose="true">
    <testsuites>
        <testsuite name="Tests Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>